header
    h1#brand
        a(href="/")
            span.brand_title
                | AKLP.gr
            img(src="http://aklp.gr/templates/aklpgr/assets/img/logo.jpg", alt="AKLP.gr")
    nav
        a(href="/")
            | Home
        a(href="/categories")
            | Categories
            //- each category in categories
            //-     #{category}
        a(href="/posts")
            | Archive
