header
    h1#brand
        a(href="/")
            span.brand_title
                | AKLP.gr
            img(src="http://aklp.gr/templates/aklpgr/assets/img/logo.jpg", alt="AKLP.gr")
    nav
        a(href="/")
            i.icon-home
            | Home
        a(href="/categories")
            i.icon-tags
            | Categories
            //- each category in categories
            //-     #{category}
        a(href="/posts")
            i.icon-book
            | Archive
        a(href="/rss.xml", target="_blank")
            i.icon-rss
            | RSS
