@import "_normalize";

body{
    color: #595959;
    background-color: #788;
}

.container{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.25rem 0;
}

article.post{
    display: flex;
    padding: 1.25rem;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.post_image {
    height: 150px;
    outline: 5px solid rgba(255, 255, 255 ,0.5);
}

.post_content {
    flex: 1;
    margin: 0;
    margin-left: 1.25rem;

}

.post_title{
    line-height: 1;
    margin-top: 0;
    margin-bottom: 1.25rem;

    a{
        display: block;
        color: #222;
        text-decoration: none;

        &:focus,
        &:hover{
            text-decoration: underline;
        }
    }
}

.post_metadata{
    margin-bottom: 1rem;

    p{
        margin: 0;
    }
}

.post_read_more{
    display: inline-block;
    background: #788;
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
}

header{
    display: flex;
    margin: 0;
    margin-bottom: 1.25rem;

    #brand{
        margin: 0;
        margin-right: 1.25rem;

        a{
            display: block;
            height: 4rem;

            img{
                height: 100%;
            }
        }
    }

    .brand_title{
        display: none;
    }

    nav{
        flex: 1;
        padding: 1.25rem;
        text-align: right;
        background-color: #fff;

        a{
            display: inline-block;
            margin-left: 1.25rem;
            color: #333;
            text-decoration: none;

            &:focus,
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

footer{
    .copyrights{
        margin-top: 0;
        padding: 1.25em;
        text-align: center;
        background: #fff;
    }
}
