doctype html
html(lang="en")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon", href="apple-touch-icon.png")
    title
        | #{title}
    style.
        header a { color: #fff; text-decoration: none; }
    link(rel='stylesheet', href='/css/style.css')
    body#top
        #wrap
            block header
            block content
            block footer
